<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="5.5">
<file name="/home/fredgrott/git/GITHUB/AndroidCMWrench/src/com/github/shareme/androidcmwrench/AndroidCMWrenchActivity.java">
<error line="0" severity="warning" message="Missing package-info.java file." source="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocPackageCheck"/>
<error line="6" severity="warning" message="Missing a Javadoc comment." source="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocTypeCheck"/>
<error line="9" column="33" severity="warning" message="Expected @param tag for &apos;savedInstanceState&apos;." source="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocMethodCheck"/>
</file>
</checkstyle>
